@mixin flex-h-v-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-h-center-v-bottom {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@mixin flex-h-left-v-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin general-button {
  font-size: 16px;
  margin: .25em;
  padding: .25em .75em;
  border: none;
  border-radius: 4px;
  color: $global-btn-font-color;
  background-color: $global-btn-bg-color;
}

@mixin general-textbox {
  font-size: 16px;
  padding: 8px 6px;
  border: 1px solid $global-textbox-border-color;
  border-radius: 4px;
}

@mixin marker-standing {
  text-align: center;
  width: 100px;
  color: $tmt-standing-marker-font-color;
  background-color: $tmt-standing-marker-bg-color;
  border-radius: 4px;
}

@mixin marker-match {
  text-align: center;
  width: 100px;
  color: $tmt-plain-match-marker-font-color;
  background-color: $tmt-plain-match-marker-bg-color;
  border-radius: 4px;
}