@import '../main.scss';

.match_score {
  display: flex;
  height: 100%;
}

p {
  text-align: center;
  width: 100%;
}

.court_side_1,
.court_side_2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.team1,
.team2 {
  height: 50%;
  font-size: 18pt;
  padding: 8px;
  background-color: $match-player-bg-color;
}

.team2 {
  @include flex-h-center-v-bottom();
}

.team1 p,
.team2 p {
  color: $match-font-color;
}

.server_receiver_background {
  background-color: $match-srv-rcv-bg-color;
}

.court_side_1>.team1,
.court_side_2>.team1 {
  margin: 0px 0px 2px 0px;
}

#team2_player1_shuttle,
#team2_player2_shuttle {
  @include flex-h-center-v-bottom();
  height: 100%;
}

#team1_player1_shuttle>img,
#team1_player2_shuttle>img,
#team2_player1_shuttle>img,
#team2_player2_shuttle>img {
  width: 30px;
  height: 30px;
}

#team2_player1,
#team2_player2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.score_box {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50px;
}

.score_box>#team1_score,
.score_box>#team2_score {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  font-size: 24pt;
}

.score_box>#team1_score {
  align-items: flex-end;
  margin-bottom: 2px;
}

.score_box>#team2_score {
  margin-top: 2px;
}

#team1_won_game,
#team2_won_game {
  display: flex;
  flex-wrap: wrap;
  height: 130px;
  width: 50px;
}

#team2_won_game {
  align-items: flex-end;
}

#team1_won_game>.won_game_container,
#team2_won_game>.won_game_container {
  height: 64px;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1faee;
}

.game_number_display {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px 0px;
  width: 24px;
  height: 24px;
  font-size: 11pt;
  font-weight: 700;
  border: 3px solid;
  border-radius: 4px;
}

.game_time_display,
.game_score_display {
  font-size: 12px;
}

.score_box>.undo,
.score_box>.reset {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $match-icon-bg-color;
  height: 50px;
  width: 50px;
}

.score_box>#game_time {
  font-size: 18px;
  text-align: center;
  color: #fff;
  background-color: $match-timer-bg-color;
  padding: 8px 0;
}

.undo>img,
.reset>img {
  width: 28px;
  height: 28px;
}