/*
  ::Color pallette::

*/

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #ebf8fe;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#root {
  flex-grow: 1;
  width: 100%;
}

/* ***
  Footer
 *** */
.footer-container {
  display: flex;
  flex-direction: column;
  padding: 12px 0px;
  font-size: 10px;
  color: #006699;
  background-color: #0d1726;
}

.footer-container>p>a:link,
.footer-container>p>a:visited,
.footer-container>p>a:active {
  color: #0081c2;
}