/*
  ::Color pallette::

*/

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #ebf8fe;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container,
.router-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.router-container>button {
  margin: .25em;
  padding: .25em;
  font-size: 16px;
  color: #1d3557;
  background-color: #d7f1fe;
  border: 1px solid #afe3fd;
  border-radius: 0;
}

#root {
  flex-grow: 1;
  width: 100%;
}

/* ***
  Footer
 *** */
.footer-container {
  display: flex;
  flex-direction: column;
  padding: 6px 0px;
  font-size: 10px;
  color: #006699;
  background-color: #0d1726;
}

.footer-container>p>a:link,
.footer-container>p>a:visited,
.footer-container>p>a:active {
  color: #0081c2;
}